
        .grid_div{
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-column-gap: 60px;  
            padding: 10px;      
            margin: 25px;

            background-color: grey;
        }

        .dades_comanda{
            display: grid;
            background-color: lightblue;
            grid-gap:1em;
            
        }
        .dadesV{
            background-color: lightblue;
        }

        .formulari{
            display: grid;
          
            background-color: lightblue;
        }

        .sub{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        